.div-principal{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.titulo0{
    cursor: pointer;
}

img{
    height: 75px;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu-item{
    text-decoration: none;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
}